.event-header {
  font-weight: bold;
  font-size: 20px;
}

/* texten inne i textrutorna */
.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.input-box input {
  flex: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-box .icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: #888;
  pointer-events: none;
}

.form-box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.register-button:hover {
  background-color: #2b2b2b;
}

button.register-button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
